@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #4EADFF;
}

.quizhub__logo {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
}

.quizhub__cursor__pointer {
    cursor: pointer;
}

.quizhub__display__none {
    display: none;
}

.quizhub__display__block {
    display: block;
}

.quizhub__background__green {
    background-color: #00FF00;
}

.quizhub__background__red {
    background-color: #F20101;
}

.quizhub__border {
    border: 1px solid #000;
}

.quizhub__background__gray {    
    background-color: #F9F9F9;
}

.quizhub__home {
    width: 45vw;
    font-family: 'Press Start 2P', cursive; 
    margin: 0 auto;   
}

.quizhub__title {
    margin: 12vw auto 0;
    font-size: 3rem;
    color: #FADF6A;
}

h1 {
    animation: myAnim 3s linear 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

.quizhub__dropdown {
    margin: 0 auto;
    height: 30px;
    background-color: #F9F9F9;
    border: none;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}

select {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

#startQuiz, #btnPlayAgain, #btnExitGame {
    background-color: transparent;
    border: none;
    margin: 5vh auto;
    font-family: 'Press Start 2P', cursive;
    color: #FADF6A;
    cursor: pointer;
}

#startQuiz {
    font-size: 2.2rem;
    color: #f9f9f9;
}

.quizhub__cards {
    width: 65vw;
    height: fit-content;
    background-color: #EBEBED;
    margin: 12vh auto;
    padding: 10px;
    border-radius: 20px;
}

.quizhub__questions__card {
    display: block;
    width: 58vw;
    height: max-content;
    background-color: #F9F9F9;
    margin: 35px;
    font-family: 'Roboto mono';
    font-size: 1.7rem;
    text-align: justify;
    line-height: 1cm;
    padding: 10px;
}

.quizhub__answers__card {
    display: block;
    width: 58vw;
    height: max-content;
    margin: 35px;
    font-family: 'Roboto mono';
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1cm;
    text-indent: 0.5cm;
    padding: 10px;
}

#btnOk, #btnNext, #btnFinish {
    width: 100px;
    height: 40px;
    background-color: #F9F9F9;
    font-family: 'Roboto mono';
    font-size: 1.5rem;
    text-align: center;
    border: none;
    border-radius: 10px;
    margin: 10px auto 0;
}

#questionNumber {
    font-family: 'Roboto mono';
    font-size: 1.2rem;
    text-align: right;
}

.quizhub__score__card {
    width: 50vw;
    height: 40vh;
    background-color: transparent;
    margin: 10vh auto 0;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    padding: 20px;
    color: #F9F9F9;
}

.quizhub__exit__game {
    width: 40vw;
    height: 4vh;
    margin: 20vh auto 0;
    background-color: transparent;    
}

#thanksImg, #fail, #ok, #good, #great {
    background-color: transparent;
    margin: 0 auto;
    width: 30vw;
    height: 40vh;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    border-radius: 20px;
}

#btnPlayAgain {
    margin-top: 25vh;
}