@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #4EADFF;
}

.quizhub__cursor__pointer {
    cursor: pointer;
}

.quizhub__display__none {
    display: none;
}

.quizhub__display__block {
    display: block;
}

.quizhub__background__green {
    background-color: #00FF00;
}

.quizhub__background__red {
    background-color: #F20101;
}

.quizhub__border {
    border: 1px solid #000;
}

.quizhub__background__gray {    
    background-color: #F9F9F9;
}

.quizhub__home {
    width: 45vw;
    font-family: 'Press Start 2P', cursive; 
    margin: 0 auto;   
}

.quizhub__title {
    margin: 12vw auto 0;
    font-size: 3rem;
    color: #FADF6A;
}

.quizhub__dropdown {
    margin: 0 auto;
}

.quizhub__start__btn {
    background-color: transparent;
    border: none;
    font-size: 2.2rem;
    margin: 5vh auto;
    font-family: 'Press Start 2P', cursive;
    color: #f9f9f9;
    cursor: pointer;
}

.quizhub__cards {
    width: 65vw;
    height: max-content;
    background-color: #EBEBED;
    margin: 15vh auto;
    padding: 20px;
    border-radius: 20px;
}

.quizhub__questions__card {
    display: block;
    width: 58vw;
    height: max-content;
    background-color: #F9F9F9;
    margin: 35px;
    font-family: 'Roboto mono';
    font-size: 1.7rem;
    text-align: justify;
    line-height: 1cm;
    padding: 10px;
}

.quizhub__answers__card {
    display: block;
    width: 58vw;
    height: max-content;
    margin: 35px;
    font-family: 'Roboto mono';
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1cm;
    text-indent: 0.5cm;
    padding: 10px;
}

#btnOk, #btnNext {
    width: 90px;
    height: 40px;
    background-color: #F9F9F9;
    font-family: 'Roboto mono';
    font-size: 1.5rem;
    text-align: center;
    border: none;
    border-radius: 10px;
    margin: 10px auto 0;
}

#questionNumber {
    font-family: 'Roboto mono';
    font-size: 1.2rem;
    text-align: right;
}